<head>
    <title>Homeland &mdash; Colorlib Website Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700,900|Roboto+Mono:300,400,500">
    <link rel="stylesheet" href="~/homeland-master/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/homeland-master/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/homeland-master/css/magnific-popup.css">
    <link rel="stylesheet" href="~/homeland-master/css/jquery-ui.css">
    <link rel="stylesheet" href="~/homeland-master/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/homeland-master/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/homeland-master/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/homeland-master/css/mediaelementplayer.css">
    <link rel="stylesheet" href="~/homeland-master/css/animate.css">
    <link rel="stylesheet" href="~/homeland-master/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="~/homeland-master/css/fl-bigmug-line.css">


    <link rel="stylesheet" href="~/homeland-master/css/aos.css">

    <link rel="stylesheet" href="~/homeland-master/css/style.css">

</head>
