<div class="sidebar ">
	<div class="scrollbar-inner sidebar-wrapper">
		<div class="user">
			<div class="photo">
				<img src="~/Ready-Bootstrap-Dashboard-master/assets/img/profile.jpg">
			</div>
			<div class="info">
				<a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
					<span class="text-dark">
						Yönetim Paneli
						<span class="user-leveltext-dark">@ViewBag.UserName</span>

					</span>
				</a>


			</div>
		</div>
		<ul class="nav">
			<li class="nav-item">
				<a href="/Default/Index/">
					<i class="la la-home text-primary"></i>
					<p class="text-dark">Siteye Git</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Admin/Property/Index">
					<i class="la la-motorcycle text-primary"></i>
					<p class="text-dark">İlanlar</p>
				</a>
			</li>
				<li class="nav-item">
			<a href="/Admin/Dashboard/Index">
			<i class="la la-dashboard text-primary"></i>
			<p class="text-dark">Dashboard</p>
			
			</a>
			</li> 
			<li class="nav-item">
				<a href="/Admin/Property/Create">
					<i class="la la-music text-primary"></i>
					<p class="text-dark">İlan Ekle</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Admin/Movie/Index">
					<i class="la la-keyboard-o text-primary"></i>
					<p class="text-dark">Filmler</p>
				</a>
			</li>
			<li class="nav-item">
			<a href="Admin/Testimonial/Index/">
			<i class="la la-birthday-cake text-primary"></i>
			<p class="text-dark">Ekibimiz</p>
			</a>
			</li>
			<li class="nav-item">
			<a href="Admin/Abouts/Index">
			<i class="la la-bell text-primary"></i>
			<p class="text-dark">Hakkımızda</p>
			</a>
			</li>

			<li class="nav-item">
			<a href="Admin/Category/Index">
			<i class="la la-umbrella text-primary"></i>
			<p class="text-dark">Kategoriler</p>
			</a>
			</li>

			<li class="nav-item">
			<a href="/Setting/Index/">
			<i class="la la-chain text-primary"></i>
			<p class="text-dark">Ayarlar</p>
			</a>
			</li> 

			

		</ul>
	</div>
</div>